# Fail2Ban configuration file
#
# Author: Cyril Jaquier
# Modified by Yaroslav Halchenko for multiport banning
#

#[INCLUDES]


[Definition]

# Option:  actionstart
# Notes.:  command executed once at the start of Fail2Ban.
# Values:  CMD
#
actionstart = ssh {{ fail2ban_pfsense_user }}@{{ fail2ban_pfsense_ip }} sudo /usr/bin/nice -n20 /etc/rc.update_urltables now forceupdate

# Option:  actionstop
# Notes.:  command executed once at the end of Fail2Ban
# Values:  CMD
#
actionstop = ssh {{ fail2ban_pfsense_user }}@{{ fail2ban_pfsense_ip }} sudo /usr/bin/nice -n20 /etc/rc.update_urltables now forceupdate

# Option:  actionban
# Notes.:  command executed when banning an IP. Take care that the
#          command is executed with Fail2Ban user rights.
# Tags:    See jail.conf(5) man page
# Values:  CMD
#
actionban = echo '<ip>' | tee -a  {{ fail2ban_urltable_file }}
            ssh {{ fail2ban_pfsense_user }}@{{ fail2ban_pfsense_ip }} sudo /usr/bin/nice -n20 /etc/rc.update_urltables now forceupdate

# Option:  actionunban
# Notes.:  command executed when unbanning an IP. Take care that the
#          command is executed with Fail2Ban user rights.
# Tags:    See jail.conf(5) man page
# Values:  CMD
#
actionunban =   sed -i -e '/<ip>/d' {{ fail2ban_urltable_file }}
                ssh {{ fail2ban_pfsense_user }}@{{ fail2ban_pfsense_ip }} sudo /usr/bin/nice -n20 /etc/rc.update_urltables now forceupdate

[Init]

