# {{ ansible_managed }}
{% if nginx_proxy_cache_enabled %}
{% if nginx_proxy_cache is defined and nginx_proxy_cache != None %}
proxy_cache_path {{ nginx_proxy_cache_path }} levels=1:2 keys_zone={{ nginx_proxy_cache }}:{{ nginx_proxy_cache_size }} max_size={{ nginx_proxy_cache_max_size }} inactive={{ nginx_proxy_cache_inactive }} use_temp_path={{ nginx_proxy_cache_use_temp_path }};
{% endif %}
{% endif %}
