#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}


server {
    listen {{ item.serverlisten | default(nginx_http_listen) }};
{% if item.serveralias is defined and item.serveralias != None %}
    server_name {{ item.servername | default(nginx_default_servername) }} {{ item.serveralias }};
{% else %}
    server_name {{ item.servername | default(nginx_default_servername) }};
{% endif %}
    access_log      /var/log/nginx/{{ item.servername | default(nginx_default_servername) }}_access.log main;
    error_log       /var/log/nginx/{{ item.servername | default(nginx_default_servername) }}_error.log warn;
{% if item.extra_parameters is defined and item.extra_parameters != None %}
    {{ item.extra_parameters|indent(4, False) }}
{% endif %}
{% for location in item.locations %}
    location {{ location.name }} {
{% if location.docroot is defined and location.docroot != None %}
        root {{ location.docroot }};
{% endif %}
{% if location.extra_parameters is defined and location.extra_parameters != None %}
        {{ location.extra_parameters|indent(8, False) }}
{% endif %}
{# If location.proxy === True or a non-empty string, proxy the request #}
{% if ((location.proxy | default(False) is sameas True)) or (location.proxy | default(False)) is string  %}
        include /etc/nginx/proxy.conf;
        {# If location.proxy is a string, it is assumed to be a properly formatted scheme/protocol, if it is True then default to 'http://' #}
        proxy_pass {{ (location.proxy is string) | ternary(location.proxy, 'http://') }}{{ location.backend }};
{% if location.custom_css|default('') | length > 0 %}
        {{ location.custom_css|indent(8, False) }}
{% endif %}
{% if nginx_proxy_cache_enabled and nginx_proxy_cache is defined and nginx_proxy_cache != None %}
{% if location.proxy_cache is defined and location.proxy_cache %}
        include /etc/nginx/proxy-cache.conf;
{% else %}
        proxy_cache off;
        if_modified_since off;
        add_header Last-Modified "";
{% endif %}
{% endif %}
{% endif %}
        }
{% endfor %}
    }

