#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if nginx_vhosts_ssl is defined and nginx_vhosts_ssl != None %}
{% for vhost in nginx_vhosts_ssl %}
server {
    listen {{ vhost.serverlisten | default(nginx_https_listen) }} ssl http2;
{% if vhost.serveralias is defined and vhost.serveralias != None %}
    server_name {{ vhost.servername | default(nginx_default_servername) }} {{ vhost.serveralias }};
{% else %}
    server_name {{ vhost.servername | default(nginx_default_servername) }};
{% endif %}
    ssl_certificate           {{ vhost.ssl_certpath | default('/etc/ssl/certs/ssl-cert-snakeoil.pem') }};
    ssl_certificate_key       {{ vhost.ssl_keypath | default('/etc/ssl/privte/ssl-cert-snakeoil.key') }};
    include /etc/nginx/ssl.conf;
    access_log      /var/log/nginx/{{ vhost.servername | default(nginx_default_servername) }}_ssl_access.log main;
    error_log       /var/log/nginx/{{ vhost.servername | default(nginx_default_servername) }}_ssl_error.log warn;
{% if vhost.extra_parameters is defined and vhost.extra_parameters != None %}
    {{ vhost.extra_parameters|indent(4, False) }}
{% endif %}
{% for location in vhost.locations %}
    location {{ location.name }} {
{% if location.docroot is defined and location.docroot != None %}
        root {{ location.docroot }};
{% endif %}
{% if location.extra_parameters is defined and location.extra_parameters != None %}
        {{ location.extra_parameters|indent(8, False) }}
{% endif %}
{# If location.proxy === True or a non-empty string, proxy the request #}
{% if ((location.proxy | default(False) is sameas True)) or (location.proxy | default(False)) is string  %}
        include /etc/nginx/proxy.conf;
        {# If location.proxy is a string, it is assumed to be a properly formatted scheme/protocol, if it is True then default to 'http://' #}
        proxy_pass {{ (location.proxy is string) | ternary(location.proxy, 'http://') }}{{ location.backend }};
{% if location.custom_css is defined %}
        proxy_set_header Accept-Encoding "";
        sub_filter
        '</head>'
        '<link rel="stylesheet" type="text/css" href="https://gilbn.github.io/theme.park/CSS/themes/{{ location.custom_css }}">
        </head>';
        sub_filter_once on;
{% endif %}
{% if nginx_proxy_cache_enabled and nginx_proxy_cache is defined and nginx_proxy_cache != None %}
{% if location.proxy_cache is defined and location.proxy_cache %}
        include /etc/nginx/proxy-cache.conf;
{% else %}
        proxy_cache off;
        if_modified_since off;
        add_header Last-Modified "";
{% endif %}
{% endif %}
{% endif %}
        }
{% endfor %}
    }
{% endfor %}
{% endif %}
