#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

server {

    listen {{ nginx_http_listen }};
    server_name localhost;

    location /nginx_status {
        stub_status;
        access_log off;
        allow 127.0.0.1;
        deny all;
        }
    }
{% if nginx_vhosts is defined and nginx_vhosts != None %}
{% for vhost in nginx_vhosts %}
server {
    listen {{ vhost.serverlisten | default(nginx_http_listen) }};
{% if vhost.serveralias is defined and vhost.serveralias != None %}
    server_name {{ vhost.servername | default(nginx_default_servername) }} {{ vhost.serveralias }};
{% else %}
    server_name {{ vhost.servername | default(nginx_default_servername) }};
{% endif %}
    access_log      /var/log/nginx/{{ vhost.servername | default(nginx_default_servername) }}_access.log main;
    error_log       /var/log/nginx/{{ vhost.servername | default(nginx_default_servername) }}_error.log warn;
{% if vhost.extra_parameters is defined and vhost.extra_parameters != None %}
    {{ vhost.extra_parameters|indent(4, False) }}
{% endif %}
{% for location in vhost.locations %}
    location {{ location.name }} {
{% if location.docroot is defined and location.docroot != None %}
        root {{ location.docroot }};
{% endif %}
{% if location.extra_parameters is defined and location.extra_parameters != None %}
        {{ location.extra_parameters|indent(8, False) }}
{% endif %}
{% if location.proxy is defined and location.proxy %}
        include /etc/nginx/proxy.conf;
        proxy_pass http://{{ location.backend }};
{% if location.custom_css is defined %}
        proxy_set_header Accept-Encoding "";
        sub_filter
        '</head>'
        '<link rel="stylesheet" type="text/css" href="https://gilbn.github.io/theme.park/CSS/themes/{{ location.custom_css }}">
        </head>';
        sub_filter_once on;
{% endif %}
{% if nginx_proxy_cache_enabled and nginx_proxy_cache is defined and nginx_proxy_cache != None %}
{% if location.proxy_cache is defined and location.proxy_cache %}
        include /etc/nginx/proxy-cache.conf;
{% else %}
        proxy_cache off;
        if_modified_since off;
        add_header Last-Modified "";
{% endif %}
{% endif %}
{% endif %}
        }
{% endfor %}
    }
{% endfor %}
{% endif %}
