# {{ ansible_managed }}

{% for vhost in nginx_vhosts_ssl %}
server {
    listen {{ vhost.serverlisten | default(nginx_https_listen) }} ssl http2;
{% if vhost.serveralias is defined and vhost.serveralias != None %}
    server_name {{ vhost.servername | default(nginx_default_servername) }} {{ vhost.serveralias }};
{% else %}
    server_name {{ vhost.servername | default(nginx_default_servername) }};
{% endif %}

    ssl_certificate           {{ vhost.ssl_certpath | default('/etc/ssl/certs/ssl-cert-snakeoil.pem') }};
    ssl_certificate_key       {{ vhost.ssl_keypath | default('/etc/ssl/privte/ssl-cert-snakeoil.key') }};
    
    include /etc/nginx/ssl.conf;
    
    access_log      /var/log/nginx/{{ vhost.servername | default(nginx_default_servername) }}_ssl_access.log;
    error_log       /var/log/nginx/{{ vhost.servername | default(nginx_default_servername) }}_ssl_error.log warn;

    location / {

{% if vhost.docroot is defined and vhost.docroot != None %}
    root {{ vhost.docroot }};
{% endif %}

{% if vhost.extra_parameters is defined and vhost.extra_parameters != None %}
    {{ vhost.extra_parameters }}
{% endif %}

{% if vhost.proxy is defined and vhost.proxy %}
    include /etc/nginx/proxy.conf;
    proxy_pass                http://{{ vhost.proxy_ip }}:{{ vhost.proxy_port }};
    proxy_redirect            http://{{ vhost.proxy_ip}}:{{ vhost.proxy_port }} https://$server_name;
{% if vhost.custom_css is defined %}
    proxy_set_header Accept-Encoding "";
    sub_filter
    '</head>'
    '<link rel="stylesheet" type="text/css" href="https://gilbn.github.io/theme.park/CSS/themes/{{ vhost.custom_css }}">
    </head>';
    sub_filter_once on;
{% endif %}
{% endif %}

    }
}
{% endfor %}