# {{ ansible_managed }}

user              {{ nginx_user }} {{ nginx_group }};
worker_processes  {{ nginx_worker_processes }};
worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};

error_log  /var/log/nginx/error.log;
pid        /var/run/nginx.pid;

include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections  {{ nginx_worker_connections }};
}

http {
    server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size }};
    server_tokens off;
    include       /etc/nginx/mime.types;
    include    /etc/nginx/proxy.conf;
    index    index.php index.html index.htm;
    default_type  application/octet-stream;

    log_format main '$remote_addr - $remote_user [$time_local]'
                  '"$request" $status $body_bytes_sent'
                  '"$http_referer" "$http_user_agent"'
                  '$request_time $upstream_connect_time $http_x_forwarded_for';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    tcp_nopush     on;
    gzip  on;
    gzip_vary on;
    gzip_disable “MSIE [1-6].”;
    gzip_proxied any;
    gzip_http_version 1.0;
    gzip_min_length 1000;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    include {{ nginx_cfg_dir }}/*;
}
