# {{ ansible_managed }}

user              {{ nginx_user|default(nginx_default_user) }} {{ nginx_group|default(nginx_default_group) }};
worker_processes  {{ nginx_worker_processes }};
worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};

error_log  /var/log/nginx/error.log;
pid        /var/run/nginx.pid;

include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections  {{ nginx_worker_connections }};
}

{% if nginx_enable_rtmp %}
rtmp {
    server {
        listen {{ nginx_rtmp_listen_port }};
        chunk_size 4000;
        application hls {
            live on;
            hls on;
            hls_path {{ nginx_hls_camera_feed_transcode_dir }};
        }
    }
}
{% endif %}

http {

    index   {% for i in nginx_index %}{{ i }}{% if not loop.last %} {% endif %}{% endfor %};
    server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size }};
    server_tokens {{ nginx_server_tokens }};
    sendfile {{ nginx_sendfile }};
    tcp_nopush {{ nginx_tcp_nopush }};
    default_type "{{ nginx_default_type }}";

    gzip {{ nginx_gzip }};
    gzip_vary {{ nginx_gzip_vary }};
    gzip_disable "{{ nginx_gzip_disable }}";
    gzip_proxied {{ nginx_gzip_proxied }};
    gzip_http_version {{ nginx_gzip_http_version }};
    gzip_min_length {{ nginx_gzip_min_length }};
    gzip_comp_level {{ nginx_gzip_comp_level }};
    gzip_buffers {{ nginx_gzip_buffers }};

    client_body_buffer_size {{ nginx_client_body_buffer_size }};
    client_body_temp_path {{ nginx_client_body_temp_path }};
    client_body_timeout {{ nginx_client_body_timeout }};
    client_max_body_size {{ nginx_client_max_body_size }};
    client_header_buffer_size {{ nginx_client_header_buffer_size }};
    client_header_timeout {{ nginx_client_header_timeout }};

    log_format main {{ nginx_log_format_main | indent(20, False) }}

    access_log  {{ nginx_access_log }};

    include /etc/nginx/mime.types;

{% if nginx_extra_parameters is defined and nginx_extra_parameters != None %}
    {{ nginx_extra_parameters|indent(4, False) }}
{% endif %}

    include {{ nginx_cfg_dir }}/*;

}
