proxy_set_header        Host            $host;
proxy_set_header        X-Real-IP       $remote_addr;
proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
client_max_body_size    10m;
client_body_buffer_size {{ nginx_client_body_buffer_size }};
proxy_connect_timeout   {{ nginx_proxy_connect_timeout }};
proxy_send_timeout      {{ nginx_proxy_send_timeout }};
proxy_read_timeout      {{ nginx_proxy_read_timeout }};
proxy_buffers           {{ nginx_proxy_buffers }};