#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
{% if nginx_backends is defined and nginx_backends != None %}
{% for backend in nginx_backends %}
upstream {{ backend.service }} {
{% for host in backend.servers %}
	server {{ host }};
{% endfor %}
{% if backend.options is defined and backend.options != None %}
{% for option in backend.options %}
    {{ option }};
{% endfor %}
{% else %}
    keepalive {{ nginx_keepalive }};
{% endif %}
}
{% endfor %}
{% endif %}
